[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jfons/Desktop/Manjaro GNOME.desktop]
row=8
col=0

[14b6f44b-76c4-495d-a816-d3235881a00d]
row=0
col=0

[DC9C74349C740AF2]
row=3
col=0

[619D46AA70E2369B]
row=1
col=0

[Floppy Disk]
row=4
col=0

[2E6877BB6877807F]
row=2
col=0

[Trash]
row=5
col=0

[/]
row=6
col=0

[/home/jfons]
row=7
col=0

